{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Your Cv's Preview</h3>

<!--Reading the data from database R in CRUD-->
<div class="row">
    {% for info in preview %}
    <div class="col s4">
        <a href="{{ url_for('edit_info', user_info_id=info._id )}}" class="btn-small green accent-4">Edit</a>
        <a href="{{ url_for('delet_info', user_info_id=info._id)}}" class="btn-small light-green lighten-1">Delete</a>
        <a href="{{ url_for('save_info', user_info_id=info._id )}}" class="btn-small green">Save</a>
    </div>

    <form class="col s8 card light-blue white-text darken-1" href="{{ url_for('cv_preview', user_info_id=info._id)}}"
        method="GET">
        <strong>Name: {{ info.first_name }} {{ info.last_name }}</strong>
        <p>Date of Birth: {{info.dob}} </p>
        <p>Email ID: {{ info.email }}</p>
        <p>Education: {{ info.education }}</p>
        <p>Skills: {{ info.skills }}</p>
        <p>Experience: {{ info.experience }}</p>
        <p>Linkedin URL: {{ info.linkedin }}</p>
        <p>About yourself: {{ info.about }}</p>
    </form>
    {% endfor %}

</div>



{% endblock %}