{% extends 'base.html' %}


{% block content %}
<h3 class="center-align">Your CV</h3>
<div class="row z-depth-4 ">

    <!--Form with self explainatory input fields-->
    <div class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <p>Name : {{first_name}} {{last_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Date of Birth : {{dob}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Email : {{email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Education : {{email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Skills : {{email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Experience : {{email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Linkedin : {{email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>About : {{email}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}