{% extends 'base.html' %}


{% block content %}
<!--from inspired my TaskManager mini project-->
<h3 class="center-align">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-signature prefix dark-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" class="validate" pattern="^[a-zA-Z0-9]{5,20}$"
                        title="Alphabets and numbers only" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix blue-darken-text text-darken-4"></i>
                    <input id="password" name="password" type="password" class="validate" pattern=".{8,}"
                        title="Eight or more characters" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large blue darken-4">
                    Register <i class="fas fa-check-square"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}